<div class="welcome-area-wrap welcome__wrap1" id="about">
        
    <!--::::: WELCOME CAROUSEL START :::::::-->
    <div class="welcome-carousel owl-carousel">
        <div class="single-welcome-area home_1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-sm-5 col-xs-4">
                        <div class="wlc-title white">
                            <h1 class="fadeInDown animated"><span>Hello,</span> I'am Louiz Lotfi </h1>
                            <p class="fadeInDown animated">I'm a Fullstack Web Developer passionate about creating dynamic and user-friendly websites.</p>
                           <p class="fadeInDown animated"> With a strong foundation in coding and design,. I'm currently studying at ESPIRIT, and I'm open to new opportunities. Additionally, I bring to the table excellent communication skills, problem-solving abilities, and a strong team player mindset. Let's work together to bring your ideas to life!</p>
                            <a  class="cbtn cbnt1 fadeInDown animated" (click)="downloadPdf()">Download CV  <i class="fal fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wlc-author-1">
                <img src="assets/img/author/author1.png" alt="">
                <h1 class="wlc-filltext">gilroy</h1>
            </div>
        </div>
        <div class="single-welcome-area home_1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-sm-5 col-xs-4">
                        <div class="wlc-title white">
                            <h1 class="fadeInDown animated"><span>Imagination</span> is more important than knowledge</h1>
                            <p class="fadeInDown animated">Together, as a community, we achieve more than any single person could ever do alone. Let's collaborate and build amazing things.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wlc-author-1">
                <img src="assets/img/author/author2.png" alt="">
                <h1 class="wlc-filltext">gilroy</h1>
            </div>
        </div>
    </div>
    <!--::::: WELCOME CAROUSEL END:::::::-->
</div>
